@model SysLibrary.Entities.Obra

@{
    ViewBag.Title = "Details";
}

<h2>Visualizar Obra</h2>
<hr />

<div>
	
    <table class="table table-bordered">
        <tr>
            <td><b>Autor</b></td>
            <td>@Html.DisplayFor(model => model.Autor.Nome)</td>
        </tr>
        <tr>
            <td><b>Editora</b></td>
            <td>@Html.DisplayFor(model => model.Editora.Nome)</td>
        </tr>
        <tr>
            <td><b>Gênero</b></td>
            <td>@Html.DisplayFor(model => model.Genero.Nome)</td>
        </tr>
        <tr>
            <td><b>Título</b></td>
            <td>@Html.DisplayFor(model => model.Titulo)</td>
        </tr>
        <tr>
            <td><b>Data de Cadastro</b></td>
            <td>@Model.DataDeCadastro.ToString("dd/MM/yyyy")</td>
        </tr>


    </table>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary" })
</p>
