@using SysLibrary.Entidades.DTO;

@model ObraDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="col-lg-10">
    <dl class="dl-horizontal">
        <dt>Código</dt>
        <dd>@Model.Id</dd>

        <dt>Nome</dt>
        <dd>@Model.Nome</dd>

        <dt>Autor</dt>
        <dd>@Model.Autor.Nome</dd>

        <dt>Editora</dt>
        <dd>@Model.Editora.Nome</dd>

        <dt>Gênero</dt>
        <dd>@Model.Genero.Nome</dd>
    </dl>

    <div class="form-group">
        <div class="col-lg-6">
            <button type="button" class="btn btn-danger" onclick="redirect(@Model.Id)">Editar</button>
            <button type="button" class="btn btn-default" onclick="redirect()">Voltar</button>
        </div>
    </div>
    <script>
        function redirect(id) {
            if(id == null || id == undefined){
                location.href = '/Obra/';
            }else{
                location.href = '/Obra/Edit/' + id;
            }
        }
    </script>

</div>
