@model SysLibrary.WebApp.Models.ObraViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">&nbsp;</div>
<div class="row">

    <h2>Listagem de Obras</h2>

    <p>
        @Html.ActionLink("Novo", "Create", "", new { @class = "btn btn-primary  pull-right" })
    </p>

</div>

<div class="row">&nbsp;</div>

<div class="row">

    <table class="table table-bordered">
        <tr>
            <th>Título</th>
            <th class="col-lg-2">Autor</th>
            <th class="col-lg-2">Editora</th>
            <th class="col-lg-2">Gênero</th>
            <th></th>
        </tr>

        @if (Model.Obras.Count() > 0)
        {

            foreach (var item in Model.Obras)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editora.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Visualizar", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">Nenhuma obra cadastrada...</td>
            </tr>
        }

    </table>
    
</div>